<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Form</title>
</head>
<body>
    <h2>Score Form</h2>
    <form action="/scores" method="post">
        <label for="science">Science:</label><br>
        <input type="int" id="science" name="science"><br><br>
        
        <label for="math">Math:</label><br>
        <input type="int" id="math" name="math"><br><br>

        <label for="english">English:</label><br>
        <input type="int" id="english" name="english"><br><br>

        <label for="history">History:</label><br>
        <input type="int" id="history" name="history"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>